table {
    caption-side: top;
    border-collapse: collapse;
    border: solid 5px teal;
    height: 100%;
    width: 100%;
    bottom: 200px;
}
table th, td {
    height: 7vh;
    width: 14vw;
    border: solid 1px rosybrown;
}
td input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
button {
    height: 100%;
}
select option {
    height: 100%;
}
/*  */
.iconmenu {
    position: fixed;
    font-size: 2em;
    right: 0vw;
    bottom: 0vh;
}
#menu {
    position: fixed;
    bottom: 0vh;
}