@media screen and (orientation: :portrait) {
    #container {
        display: none;
    }
    #canhbao {
        display: block;
        text-align: left;
        height: 100vh;
        width: 100vw;
    }
    h1 {
        color: rebeccapurple;
        text-align: center;
    }
    html {
        background-color: yellowgreen;
        color: black;
    }
    #span {
        font-family: serif;
        text-align: center;
        width: 100%;
    }
}
@media screen and (orientation: landscape) {
    
}
@media screen and (min-width: 1025px) {
    
}
table {
    border-collapse: collapse;
    border: solid 0.5vw teal;
    height: 100vh;
    width: 100vw;
}
table th, td {
    width: 14vw;
    height: 7vh;
    border: solid 1px rosybrown;
    text-align: center;
}
td textarea {
    display: block;
    resize: none;
    border: none;
    height: 100%;
    width: 100%;
}
button {
    height: 100%;
}
select option {
    height: 100%;
}
/*  */
.iconmenu {
    position: fixed;
    font-size: 2em;
    right: 0vw;
    bottom: 0vh;
}
#menu {
    position: fixed;
    bottom: 0vh;
}
#canhbao {
    display: none;
}
@media screen and (orientation:portrait) {

}